<!DOCTYPE html>
<html>
<head>
	<title>APSLE - Admin Home</title>
	<link rel="stylesheet" type="text/css" href="/static/admin_home.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=devoce-width, initial-scale=1"/>
</head>
<body>
	<h1 class="center_text">Anchovy Primary School Learning Environment</h1>
	<div class="main_div">
		<h2 class="center_text">Administrator Home</h2>
		<p class="center_text">Welcome {{user_name}} to the Administrator Home page where you may perform all of the actions stated below:</p><br>
		<form method="POST">
			<button type="submit">MANAGE USERS</button><br>		
			<input type="hidden" name="form_type" value="manage_users">
		</form>	
		<form method="POST">
			<button type="submit">MANAGE CLASSROOMS</button><br>		
			<input type="hidden" name="form_type" value="manage_classrooms">
		</form>	
		<a href="/login"><button>Logout</button></a>
	</div>
</body>
</html>
