<!DOCTYPE html>
<html>
<head>
	<title>APSLE - Admin Home</title>
	<link rel="stylesheet" type="text/css" href="/static/admin_home.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=devoce-width, initial-scale=1"/>
</head>
<body>
	<h1 class="center_text">Anchovy Primary School Learning Environment</h1>
	<div class="main_div">
		<h2 class="center_text">Administrator Home</h2>
		<p class="center_text">Welcome to the Administrator Home page where you may perform all of the action stated below:</p><br>
		<form method="POST">
			<button href="manage_users">MANAGE USERS</button><br>
						
			<button href="manage_classrooms">MANAGE CLASSROOMS</button><br>
		</form>	
	</div>
</body>
</html>
