<!DOCTYPE html>
<html>
<head>
	<title>APSLE - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=devoce-width, initial-scale=1"/>
</head>
<body>
    <div class="title">
        <h1>Anchovy Primary School Learning Environment</h1>
    </div>
    <div class="forms">
        <form method="POST">
            <label for="user">Username</label>
            <input type="text" id="user" name="user">
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass">
            <div class="login"><input type="submit" value="LOGIN"></div>
        </form><br>
        <a href="register">Don't have an account? Click here to register.</a>
    </div>
</body>
</html>