<!DOCTYPE html>
<html>
<head>
	<title>APSLE - Student Home</title>
	<link rel="stylesheet" type="text/css" href="/static/teacher_home.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<h1 class="center_text">Anchovy Primary School Learning Environment</h1>
	<div class="main_div">
        <h2 class="center_text">Student Home</h2>
        <div>
            <p>To check course material, click the subject you want to check.</p>
            <button><a href="/maths">MATHEMATICS</a></button>
            <button><a href="/english">ENGLISH</a></button>
            <button><a href="/science">SCIENCE</a></button>
        </div>
        <button><a href="/login">Logout</a></button>
    </div>
</body>
</html>