<!DOCTYPE html>
<html>
<head>
	<title>APSLE - {{subject}}</title>
	<link rel="stylesheet" type="text/css" href="/static/teacher_home.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class="main_div">
        <h1 class="center_text">Anchovy Primary School Learning Environment</h1>
        <h2 class="center_text">{{subject}}</h2>
        {% if user_type == "Teacher" %}
            <div>
                <p>Enter details below to add new materials to the subject.</p>
                <form method="POST" enctype="multipart/form-data">
                    <label for="material_name">Material Name</label><input required type="text" name="material_name">
                    <br><br><label for="material_description">Material Description:</label>
                    <input required type="text" name="material_description">
                    <p>Type of Upload</p>
                    <label for="lecture_notes">Lecture Notes</label>
                    <input required type="radio" name="material_type" value="lecture_notes">
                    <label for="assignment">Assignment</label>
                    <input required type="radio" name="material_type" value="assignment"><br><br>
                    <input required type="file" name="file"><br><br>
                    <button type="submit">UPLOAD</button>
                    <input type="hidden" name="form_type" value="upload">
                </form>
            </div>
            <div style="display: flex;">
                <form method="POST">
                    <p>Enter the name of the material you want to remove, select the type of material and click delete.</p>
                    <div>
                        <label for="name">Name of material: </label>
                        <input required type="text" name="name"><br>
                        <h4>User Type</h4>
                        <label for="type">Assignment</label>
                        <input required type="radio" name="type" value="assignment"><br>
                        <label for="type">Lecture Notes</label>
                        <input required type="radio" name="type" value="lecture_notes"><br>
                    </div>
                    <div><button type="submit">DELETE</button></div>
                    <input type="hidden" name="form_type" value="delete">
                </form>
            </div>
        {% endif %}
            <div>
                <div>
                    <h3>Lecture Notes:</h3>
                    {% if note_len != 0 %}
                        {% for i in range(notes_len) %}
                            <h4>Name: {{notes[i][2]}}</h4>
                            <h4>Description:</h4>
                            <p>{{notes[i][3]}}</p>
                            <p>{{notes[i][0]}}.{{notes[i][1]}}</p>
                        {% endfor %}
                    {% endif %}
                </div><br>
                <div>
                    <br><h3>Assignments:</h3>
                    {% if assignments_len != 0 %}
                        {% for i in range(assignments_len) %}
                            <h4>Name: {{assignments[i][2]}}</h4>
                            <h4>Description:</h4>
                            <p>{{assignments[i][3]}}</p>
                            <p>{{assignments[i][0]}}.{{assignments[i][1]}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        <br><br><a href="/login"><button>Logout</button></a>
    </div>
</body>
</html>