<!DOCTYPE html>
<html>
<head>
	<title>APSLE - {{subject}}</title>
	<link rel="stylesheet" type="text/css" href="/static/teacher_home.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class="main_div">
        <h1 class="center_text">Anchovy Primary School Learning Environment</h1>
        <h2 class="center_text">{{subject}}</h2>
        {% if user.user_type == "Teacher" or user.user_type == "Admin" %}
            <div>
                <p>Enter details below to add new materials to the subject.</p>
                <form method="POST" enctype="multipart/form-data">
                    <label for="material_name">Material Name</label><input required type="text" name="material_name">
                    <br><br><label for="material_description">Material Description:</label>
                    <input required type="text" name="material_description">
                    <p>Type of Upload</p>
                    <label for="lecture_notes">Lecture Notes</label>
                    <input required type="radio" name="material_type" value="lecture_notes">
                    <label for="assignment">Assignment</label>
                    <input required type="radio" name="material_type" value="assignment"><br><br>
                    <input required type="file" name="file"><br><br>
                    <button type="submit">UPLOAD</button>
                    <input type="hidden" name="form_type" value="upload">
                </form>
            </div>
            
        {% endif %}
        
            <div>
                <div>
                    <h3>Lecture Notes:</h3>
                    {% if note_len != 0 %}
                        {% for i in range(notes_len) %}
                            <h4>Name: {{notes[i][2]}}</h4>
                            <h4>Description:</h4>
                            <p>{{notes[i][3]}}</p>
                            <a href="/uploads/teacher_uploads/{{notes[i][0]}}.{{notes[i][1]}}">{{notes[i][0]}}.{{notes[i][1]}}</a>
                            <form method="POST" enctype="multipart/form-data">
                                {% if user.user_type == "Teacher" or user.user_type == "Admin" %}
                                    <button type="submit">DELETE</button>
                                    <input type="hidden" name="form_type" value="delete">
                                    <input type="hidden" name="mat_type" value="notes">
                                    <input type="hidden" name="notes_id" value="{{notes[i][4]}}">
                                {% endif %}
                            </form>
                        {% endfor %}
                    {% endif %}
                </div><br>
                <div>
                    <br><h3>Assignments:</h3>
                    {% if assignments_len != 0 %}
                        {% for i in range(assignments_len) %}
                            <h4>Name: {{assignments[i][2]}}</h4>
                            <h4>Description:</h4>
                            <p>{{assignments[i][3]}}</p>
                            <a href="/uploads/teacher_uploads/{{assignments[i][0]}}.{{assignments[i][1]}}">
                                {{assignments[i][0]}}.{{assignments[i][1]}}
                            </a><br>
                            <form method="POST" enctype="multipart/form-data">
                                {% if user.user_type == "Teacher" or user.user_type == "Admin" %}
                                    <button type="submit">DELETE</button>
                                    <input type="hidden" name="form_type" value="delete">
                                    <input type="hidden" name="mat_type" value="assignments">
                                    <input type="hidden" name="assignment_id" value="{{assignments[i][4]}}">
                                {% endif %}
                                {% if user.user_type == "Student" %}
                                    <label for="file">Submission</label>
                                    <input required type="file" name="file"><br>
                                    <button type="submit">SUBMIT</button>
                                    <input type="hidden" name="form_type" value="submissions">
                                    <input type="hidden" name="assignment_id" value="{{assignments[i][4]}}">
                                {% endif %}
                            </form>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        <br><br><a href="/login"><button>Logout</button></a>
    </div>
</body>
</html>